body {
    margin: 0;
}
.flex {
    display: flex;
}
.all {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* --------------------------------- */
#navbar {
    width: 90%;
    margin: auto;
    display: flex;

}


#logo {
    margin: 16px 16px 16px 0;
  
}

.menuL {
    margin-right: auto;
    padding: 20px;
    display: flex;

}

.menuLfont {
    margin-right: 20px;

}

.menuR {
    display: flex;
    padding: 20px;
    margin-right: 40px ;
}
#searchicon img{
width: 20px;
height: 20px;
}
#shooppingcarticon img{
    width: 20px;
    height: 20px;
}
#singinicon img{
    width: 20x;
    height: 20px;
}

.menuRfont {
    margin-left: 20px;
   
}
/* ----------上面的banner------------- */
.bannerouterboxtop{
    display: flex;
    width: 100%;
}


#top {
    width: 90%;
    margin: auto;
    position: relative;
}
#top img{
    width: 100%;
}
.bannerfonttop_bottom {
    color: white;
    background-color: black;
    display: inline-block;
    padding: 10px 20px;
}

.bannerfonttop_bottom:hover {
    text-decoration: underline;
}
.bannerfonttop {
    position: absolute;
    top: 25%;
    left: 5%;
    padding: 50px;
}

.bannerfonttop_top {
    padding: 15px 0;
    font-size: 40px;

}

.bannerfonttop_mid {
    padding: 15px 0;
}
/* -------------上面的card--------------- */
#mid-top {
    width: 90%;
    background-color: white;
    justify-content: space-around;
}
#big-box {
    width: 100%;
    
}

#boxA{
   width: 25%;
}

#boxB{
   width: 25%;
}

#boxC{
    width: 25%;
}

#boxD{
    width: 25%;
}
#image-A{
    padding: 0 12px;
}
#image-B{
    padding: 0 12px;
}
#image-C{
    padding: 0 12px;
}
#image-D{
    padding: 0 12px;
}
#image-A img{
    width: 100%;
    padding: 48px 0;
}
#image-B img{
    width: 100%;
    padding: 48px 0;
}

#image-C img{
    width: 100%;
    padding: 48px 0;
}

#image-D img{
    width: 100%;
    padding: 48px 0;
}
/* ----------------------------box文字-------------------------- */
.text{
    padding-left: 12px;
}
/* ----------------------下面的banner--------------------------- */
.bannerouterboxbtm{
    width: 100%;
}
#mid-btm img{
    width: 100%;
    margin: auto;
}

/* -----------------------下面的card--------------------------- */
#content {
    width: 100%;
    background-color: white;
    justify-content: space-around;
}
#btmbig-box{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

#btmboxA{
    width: 25%;
}
#btmboxB{
    width: 25%;
}
#btmboxC{
    width: 25%;
}
#btmboxD{
    width: 25%;
}
#btmimage-A{
    /* padding: 0 12px; */
}
#btmimage-B{
    /* padding: 0 12px; */
}
#btmimage-C{
    /* padding: 0 12px; */
}
#btmimage-D{
    /* padding: 0 12px; */
}
#btmboxA img{
    width: 100%;
    /* padding: 48px 0; */
}
#btmboxB img{
    width: 100%;
    /* padding: 48px 0; */
}

#btmboxC img{
    width: 100%;
    /* padding: 48px 0; */
}

#btmboxD img{
    width: 100%;
    /* padding: 48px 0; */
}


/* -------------------------------------------------------- */









/* .box-img-set {
    background-size: cover;
    background-position: center;
} */



.title-style {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
}

.font-family {
    font-family: 'Noto Sans TC', sans-serif;
}

.flex-wrap {
    word-wrap: break-word;
}

.field {
    width: 19vw;
}

.button {
    margin-top: 20px;
    color: #0067b8;
}
/* -------------------------------------------------------- */





/* ..................................... */
/* .bannerouterboxtop{
    display: flex;
    width: 100%;
}


#top {
    width: 90%;
    margin: auto;
    position: relative;
}
#top img{
    width: 100%;
} */
#bannerouterboxbtm{
    width: 100%;

}
#mid-btm {
    width: 90%;
    margin: auto;
    position: relative;
}
#mid-btm img{
    width: 100%;
} 

.bannerfontbtm {
    position: absolute;
    top: 25%;
    left: 5%;
    padding: 50px;

}

.bannerfontbtm_top {
    padding: 15px 0;
    font-size: 40px;
}

.bannerfontbtm_mid {
    padding: 15px 0;

}

.bannerfontbtm_bottom {
    color: white;
    background-color: black;
    display: inline-block;
    padding: 10px 20px
}

.bannerfontbtm_bottom:hover {
    text-decoration: underline;
}
/* .............................................. */
.space {
    width: 90%;
    padding: 50px 0 0 0;
    font-size: 22px;
}
a{
    list-style: none;
}
/* .................................. */
.linkspace {
    width: 90%;
    padding: 50px 0 0 0;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;

}
 
.linkspacefont{
    padding: 0 10px;
}
.fb{
        width: 28px;
        height: 28px;
        margin-right: 20px;
    }
.youtube{
        width: 28px;
        height: 28px;
    }   
    /* --------------------footer------------------ */
    .footer {
        width: 100%;
        /* height: 395px; */
        display: flex;
        justify-content: space-around;
        background-color: lightgrey;
    }
    
    .li {
        margin: 0 20px 0 0;
        list-style: none;
    }
    
    li {
        list-style: none;
    }
    .ul-ph ul{
        font-size: 20px;
        color: rgba(0, 0, 0, 0.6);
    }
    .ul-ph ul li{
        font-size: 12px;
        margin: 10px 0;
    }
/* .................................................... */
    @media (max-width:1399px ){
#menuR_search{
    display: none;
      }
#menuR_shooppingcart{
    display: none;
      }
 #menuR_singin{
    display: none;
      }
    }
@media (max-width:1083px ){
#top {
    width: 100%;
    }   
#mid-btm img{
    width: 100%;
    }        
#boxA {
            margin-right: 24px;
            width: 50%
        }
        
#boxB {
            margin-right: 24px;
            width: 50%
        }
        
#boxC {
            margin-right: 24px;
            width: 50%;
        }
        
#boxD {
            width: 50%;
        }

             
    }


    