@charset "UTF-8";
html body {
  font-family: 'Noto Serif JP', '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho', 'Sawarabi Mincho', 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'HiraMinProN-W3', 'HGS明朝E', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;
  margin: 0;
  position: relative;
}

html body .page-top {
  width: 100%;
  line-height: 1.8;
  font-weight: 400;
  color: #282828;
  font-size: 14px;
  letter-spacing: 0.5px;
  background-color: white;
}

html body .page-top .site-heade {
  width: 100%;
  height: 142px;
}

html body .page-top .site-heade .header-top {
  width: 100%;
  height: 142px;
  padding: 15px 0;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body .page-top .site-heade .header-top .container {
  width: 112px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .page-top .site-heade .header-bottom {
  height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .page-top .site-heade .header-bottom .container {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .page-top .site-heade .header-bottom .container .site-nav {
  width: 90%;
  height: 100%;
  padding: 6px 0;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  margin: auto;
  position: relative;
}

html body .page-top .site-heade .header-bottom .container .site-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

html body .page-top .site-heade .header-bottom .container .site-nav ul li {
  position: relative;
  width: calc(100% / 6);
  text-align: center;
}

html body .page-top .site-heade .header-bottom .container .site-nav ul li:hover {
  opacity: 0.6;
}

html body .page-top .swiper-container {
  width: 100%;
  height: 100%;
  margin-top: 100px;
}

html body .page-top .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

html body .page-top .page-news {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  background-color: #e6e6e6;
  padding: 50px 0;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

html body .page-top .page-news .news-title {
  width: 80%;
  font-size: 20px;
  font-weight: 400;
}

html body .page-top .page-news .news-content {
  width: 60%;
  height: 70%;
}

html body .page-top .page-news .news-content .news-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body .page-top .page-news .news-content .news-container .news-card {
  width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body .page-top .page-news .news-content .news-container .news-card .new-cardImg {
  width: 100%;
  margin-bottom: 12px;
}

html body .page-top .page-news .news-content .news-container .news-card .new-cardImg img {
  width: 75%;
}

html body .page-top .page-news .news-content .news-container .news-card .new-cardTitle {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 12px;
}

html body .page-top .page-news .news-content .news-container .news-card .news-cardUpdatetime {
  color: #646464;
  font-size: 12px;
}

html body .page-top .page-news .news-content .news-footer {
  width: 50px;
  height: 30px;
  font-size: 20px;
  text-align: inherit;
  font-weight: 400;
  position: absolute;
  right: 10%;
  bottom: 5%;
  color: #fff;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .page-top .page-news .news-content .news-footer:hover {
  opacity: 0.5;
  text-decoration: none !important;
  outline: none;
}

html body .page-top .page-about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

html body .page-top .page-about img {
  opacity: 0.8;
}

html body .page-top .page-about .about-content {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html body .page-top .page-about .about-content img {
  width: 100%;
}

html body .page-top .page-product {
  width: 100%;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e6e6e6;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body .page-top .page-product .product-title {
  margin: 50px 0;
  width: 80%;
  font-size: 20px;
  font-weight: 400;
}

html body .page-top .page-product .product-content {
  width: 80%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body .page-top .page-product .product-content .product-main {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 100px;
}

html body .page-top .page-product .product-content .product-main .product-card {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .page-top .page-product .product-content .product-main .product-card:hover .product-container {
  opacity: 0.8;
  -webkit-transition: 1s;
  transition: 1s;
}

html body .page-top .page-product .product-content .product-main .product-card .product-img {
  width: 40%;
}

html body .page-top .page-product .product-content .product-main .product-card .product-img img {
  width: 100%;
}

html body .page-top .page-product .product-content .product-main .product-card .product-container {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 400;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

html body .page-top .page-chef {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

html body .page-top .page-chef .chef-content {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html body .page-top .page-chef .chef-content .chef-title {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  margin: 50px 0;
}

html body .page-top .page-chef .chef-content .chef-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .page-top .page-chef .chef-content .chef-container img {
  width: 100%;
}

html body .page-top .page-chef .chef-content .chef-img {
  width: 50%;
}

html body .page-top .page-chef .chef-content .chef-img img {
  width: 100%;
}

html body .page-top .page-movie {
  width: 100%;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e6e6e6;
}

html body .page-top .page-movie .movie-content {
  width: 80%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 100px;
}

html body .page-top .page-movie .movie-content .movie-title {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  margin: 50px 0;
}

html body .page-top .page-movie .movie-content .movie-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .page-top .page-access {
  width: 100%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body .page-top .page-access .access-cardTitle {
  width: 80%;
  font-size: 20px;
  font-weight: 400;
  margin: 50px 0;
}

html body .page-top .page-access .access-content {
  width: 80%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 100px;
}

html body .page-top .page-access .access-content .access-card {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body .page-top .page-access .access-content .access-card:hover .access-container {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

html body .page-top .page-access .access-content .access-card .access-img {
  width: 40%;
  margin: auto;
}

html body .page-top .page-access .access-content .access-card .access-img img {
  width: 100%;
}

html body .page-top .page-access .access-content .access-card .access-title {
  font-size: 20px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body .page-top .page-access .access-content .access-card .access-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

html body .page-top .pagetop_footer {
  width: 100%;
  height: 255px;
  background-color: #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 20px;
}

html body .page-top .pagetop_footer .footer_container {
  width: 100%;
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
}

html body .page-top .pagetop_footer .footer_container .footer_logo {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .page-top .pagetop_footer .footer_container .footer_logo img {
  width: 257px;
}

html body .page-top .pagetop_footer .footer_container .footer_contact {
  width: 50%;
  height: 157px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #282828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body .page-top .pagetop_footer .footer_container .footer_contact .social_media {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

html body .page-top .pagetop_footer .footer_container .footer_contact .social_media .fblogo {
  width: 40px;
  height: 40px;
  background-image: url(./img/facebook_0.svg);
  background-position: center;
  background-size: cover;
  -webkit-transition: 1s;
  transition: 1s;
}

html body .page-top .pagetop_footer .footer_container .footer_contact .social_media .fblogo:hover {
  background-image: url(./img/facebook_1.svg);
  -webkit-transition: 1s;
  transition: 1s;
}

html body .page-top .pagetop_footer .footer_container .footer_contact .social_media .iglogo {
  width: 40px;
  height: 40px;
  background-image: url(./img/instagram_1.svg);
  background-position: center;
  background-size: cover;
  -webkit-transition: 1s;
  transition: 1s;
}

html body .page-top .pagetop_footer .footer_container .footer_contact .social_media .iglogo:hover {
  background-image: url(./img/instagram_2.svg);
  -webkit-transition: 1s;
  transition: 1s;
}

html body .page-top .pagetop_footer .footer_container .footer_contact .phpone {
  width: 100%;
}

html body .page-top .pagetop_footer .footer_container .footer_contact .phpone .phpone_number {
  width: 100%;
}

html body .page-top .pagetop_footer .footer_container .footer_contact .business_hour {
  width: 100%;
}

html body .page-top .pagetop_footer .footer_container .footer_contact .address {
  width: 100%;
}

html body .page-top .pagetop_footer .footer_container .white_line {
  width: 100%;
  border-top: solid #282828 2px;
}

html body .page-top .pagetop_footer .footer_container .footer_copyright {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: #282828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */